/*
========================
Base-Base
========================
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font: 100%/1.5 serif, sans-serif;

  @include bp(l) {
    font: 125%/1.5 serif, sans-serif;
  }
}

body {
	background: darken(white, 2%);
	font-family: serif, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  color: $black;
}




