/*
========================
Partials-Page
========================
*/

// main content + sidebar container
.content-wrap {
	overflow: hidden;
	padding: 30px 0;
}


// main content
.page-content {}

// page header
.entry-header {
	
	// page title
	h1 {}
}


// sidebar
.site-sidebar {
	
	@include bp(l) {
		border-left: 1px solid black;
		padding-left: 15px;
	}
}





.cat-links {}

.tag-links {}



// pagination
.pagination {}

.nav-pagination {}

.nav-previous {}

.nav-next {}