/*
========================
Layout-Header
========================
*/

.site-header {

	nav {
		display: flex;
		flex-direction: column;

		@include bp(l) {
			clear: both;
			flex-direction: row;
			max-width: 50%;
		}
	}

	a {
		flex-grow: 1;

		@include bp(l) {}
	}
}