/*
========================
Layout-Header
========================
*/

.site-header {

	nav {

		@include bp(l) {
			clear: both;
			display: flex;
		}
	}

	a {

		@include bp(l) {
			flex-grow: 1;
		}
	}
}