/*
========================
Layout-Page
========================
*/

.site-wrap {
	@include container(95vw);

	@include bp(l) {
		@include container(80vw);
	}
}

.content-wrap {}

.page-content {

	@include bp(l) {
		@include span(8);
		margin-left: 0;
	}
}

.site-sidebar {
	
	@include bp(l) {
		@include span(4);
		display: flex;
		flex-direction: column;
		margin-left: 0;
	}
}

.sidebar-block {
	flex-grow: 1;
}